h2 {
    color: indigo;
}

button {
    color:maroon;
}

p {
    color: aqua;
    background-color: crimson;
    text-align:justify;
    font-weight:700;
    text-decoration: underline;
    line-height: 2
}

h1 {
    text-align:center;
    letter-spacing: 15px;
}