h2 {
    color: indigo;
}

button {
    color:maroon;
    padding: 10px 3px 100px;
}

p {
    color: aqua;
    background-color: crimson;
    text-align:justify;
    font-weight:700;
    text-decoration: underline;
    line-height: 2
    padding-left: 10cm;
}

h1 {
    text-align:center;
    letter-spacing: 15px;
    padding: 10px;
}

button:hover{
    background-color:red;
    color:whitesmoke;
}

h1 {
    border-width:5px;
    border-color: blue;
    border-style: solid;
    border-radius:99%;
    box-sizing:border-box;
}

#two {
    border-color:brown;
    border-width:3px;
    border-style: dashed;
}

#three {
    background-color: #f5f300;
    border-width:3em;
}