h1 {
    background-color: palegoldenrod;
    border: 1px solid black;
    display: inline;
}
span {
    background-color: fuchsia;
    border: 1px solid black;
    /*display:block;*/
    padding: 10px;
}